<div class="container">
<h3>Please Login!</h3><br><br>

<form class="" action="/login" method="post">
  <label for="email">Email: </label>
  <input type="text" name="email" value=""><br><br>
  <label for="password">Password: </label>
  <input type="password" name="password" value=""><br><br>
  <input type="submit" value="Login">
</form>
</div>
