<h1>Welcome <%= @user.name %> to the Movie Review App!</h1>

<h3>From here you can use the navigation bar to:</h3>
<li>See all reviews</li>
<li>Create a new review</li>
<li>See your reviews</li>
<li>Edit your reviews</li>
