<h1>Edit your Review </h1>

<form class="" action="/reviews/<%= @review.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="movie_name">Movie:</label>
  <input type="text" name="movie_name" value="<%= @review.movie_name %>">
  <label for="content">Content: </label>
  <textarea name="content" rows="8" cols="80"><%= @review.content %></textarea>
  <input type="submit" name="" value="Edit Entry">

</form>
