This is the all reviews page!!!!<br><br>

<% @reviews.each do |review| %>

<li><p>Movie:<%= review.movie_name %></p>

    <p><%= review.content %></p>

    <p> by: <%= review.user.name %></p>
  <p>Created On:<%= review.created_at %></p></li>
<% end %>
