<form action='/reviews' method="post">
  <label for="movie_name">Movie Name: </label>
  <input type="text" name="movie_name" value="">
    <label for="review">Your Review</label><br>
    <textarea name="name" rows="8" cols="80"></textarea>><br>

    <input type="text" name="" value="Submit Review">

</form>
